/* Color Theme Swatches in Hex */
/* 
.principal { color:#9574F2; }
.background {color: #E774F2 ;}
.destaque {color: #BE74F2;}
{ color: #747DF2;}
{ color: #F274BB;}
{ color: #C788F4;}
*/

html {
    background: #E774F2;
    color: #0A3B59;

    font-size: 18px;
    font-family: verdana, sans-serif;
}

p{
    text-indent: 1em;
}

h1, h2, h3 {
    text-align: center;
}

h1 {font-size: 1.8rem;}
h2 {font-size: 1.4rem;}
h3 {font-size: 1.2rem;}

.summary {text-align: center;}
.main p {line-height: 1.5;}

abbr {font-variant: small-caps;}