/* Color Theme Swatches in Hex */
/* 
.principal { color:#9574F2; }
.background {color: #E774F2 ;}
.destaque {color: #BE74F2;}
{ color: #747DF2;}
{ color: #F274BB;}
{ color: #C788F4;}
*/

html {
    background: #E774F2;
    color: #0A3B59;
}